
<section class="bg-voilets text-black">
    <div class="container">
	<div class="row d-flex align-items-center">
            <div class="col-md-7 col-xl-6">
                <h1><b>gabung bersama kami</b></h1>
                <p>web ini didedikasikan sebagai media untuk saling berbagi file buku digital. kami berusaha memberikan koleksi buku terbaik kepada anda tanpa diganggu dengan iklan dan link download yang menyebalkan.</p>
                <ul class="list-inline">
                    <li class="list-inline-item"> <button type="button" class="btn btn-primary btn-lg">gabung di grup</button></li>
                    <li class="list-inline-item"> <button type="button" class="btn btn-success btn-lg">share buku</button></li>
                </ul>
            </div>
            <div class="col-md-5 col-xl-5 offset-xl-1">
                 <img src = "/img/baca.png" class = "img-responsive"  width = "100%"/>
                
            </div>
        </div>
</div>
</section>
<section class="py-5 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="..">
                <p>web ini hadir untuk memberikan kemudahan setiap orang mendapatkan bacaan bermutu. kami percaya, internet bisa menjembatani kesenjangan konsumsi buku yang belum merata di tiap daerah.</p>
                
            </div>
            <div class="col-md-3">
                <h4><b>pranala</b></h4>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-white">lapor link rusak</a></li>
                    <div class="mb-2"></div>
                    <li><a href="#" class="text-white">cara download</a></li>
                    <div class="mb-2"></div>
                </ul>
            </div>
            <div class="col-md-3">
                <h4><b>dukungan</b></h4>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-white">berbagi buku</a></li>
                    <div class="mb-2"></div>
                    <li><a href="#" class="text-white">hubungi pengelola</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4><b>tentang kami</b></h4>
                <ul class="list-unstyled mt-3">
                    <li><a href="#" class="text-white">siapa kami</a></li>
                    <div class="mb-2"></div>
                   
                    <li><a href="#" class="text-white">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>



