<header>
    <div class="jumbotron jumbotron-fluid bg-info text-light text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Programmer Pengguna Linux</h1>
                    <p class="lead">Belajar Pemrograman Apapun Menggunakan Linux</p>
					<div class=my-3><a class="btn btn-light" href=https://www.facebook.com/groups/1138053329671186/>Join Group!</a></div>
                </div>
            </div>
        </div>
    </div>
</header>